html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #484848;
  line-height: 1.28;
  background: #f9f9f9
}
body {
  width: 1220px;
  margin: 0 auto;
}
body:before,
body:after {
  content: "";
  display: table;
  height: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 39px;
  line-height: 40px;
}

p {
  margin: 10px 0;
}

a {
  color: #c05b4d;
  text-decoration: none
}

a:hover, a:focus {
  color: #a5473a;
  text-decoration: underline
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.content {
  padding-top: 50px;
}
.content:before,
.content:after {
  content: "";
  display: block;
  clear: both;
}
.footer {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 18px;
}

.code {
  width: 600px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid rgba(16, 16, 16, 0.1);
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f5ec;
}
.code:last-child {
  margin-right: 0;
}

.cm-s-solarized.CodeMirror {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'source-code-pro', Menlo, 'Courier New', Consolas, monospace;
  font-size: 13px;
  line-height: 20px;
  height: 328px;
  background-color: transparent;
  color: #657b83;
  text-shadow: #eee8d5 0 1px;
}
